<header>
    <h1>{{title}}</h1> <!-- Notice this is referencing a value in app.js.  It's then called in all the other main hbs files and dynamically filtering what value to display based on the file name. -->

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>